.setAmountCont {
  background-color: var(--globalBg) !important;
  background: var(--globalBg) !important;
}
.mat-mdc-form-field {
  width: 100%;
}

h2 {
  font-size: 16px !important;
  font-weight: 600 !important;
}
p {
  font-weight: 600 !important;
  margin-top: 1em !important;
}
.form {
  margin-top: 1.5em;
}
